DJANGO_SECRET_KEY=&5a2jg-@c&)rdw(+5fv!pnx5)$cf%)wsh42b9y()uj1k2b03ua
DJANGO_ALLOWED_HOSTS=*
DEBUG=1
PRODUCT_ADMIN_PATH=echo
PAYMENT_API_KEY=sandbox-M8EitoTGQSI2krmsXiv3FsZpYfj52Wy2
PAYMENT_SECRET_KEY=v7qMgDw8t7CfpV2flk81XeQyJWnimagJ
PAYMENT_BASE_URL=sandbox-api.iyzipay.com